leitor_cartao_pub.json
[{"id":"51979bdd7fc2c3b7","type":"tab","label":"Leitor Cartao","disabled":false,"info":"","env":[]},{"id":"f0af89d0dc50cb6a","type":"inject","z":"51979bdd7fc2c3b7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sala/t","payloadType":"date","x":144,"y":367.27275466918945,"wires":[["88673acb3381cca6"]]},{"id":"69310bc7e2a74bb0","type":"inject","z":"51979bdd7fc2c3b7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sala/e","payloadType":"date","x":142.63634872436523,"y":128.00000381469727,"wires":[["88673acb3381cca6"]]},{"id":"b66226375512f38d","type":"inject","z":"51979bdd7fc2c3b7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sala/s","payloadType":"date","x":141.63634490966797,"y":247.00000286102295,"wires":[["88673acb3381cca6"]]},{"id":"4c46d829c649de53","type":"mqtt out","z":"51979bdd7fc2c3b7","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1769fb1.3c11385","x":659.0000038146973,"y":136.63639545440674,"wires":[]},{"id":"88673acb3381cca6","type":"function","z":"51979bdd7fc2c3b7","name":"","func":"var min= 15000\nvar max= 30000\nvar num_cartao = Math.round(Math.random()*100)+15000; //Math.random(min, max) // * \nmsg.payload = { \n    timestamp: msg.payload,\n    value:  num_cartao\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":383,"y":245.90918159484863,"wires":[["4c46d829c649de53","f902d26ec4cfe679"]]},{"id":"f902d26ec4cfe679","type":"debug","z":"51979bdd7fc2c3b7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":656.0000038146973,"y":343.2727355957031,"wires":[]},{"id":"7c29ef95d53cb491","type":"comment","z":"51979bdd7fc2c3b7","name":"mqtt out node -  localhost:1883","info":"","x":730.6666870117188,"y":90,"wires":[]},{"id":"5b24a1604b51b24f","type":"inject","z":"51979bdd7fc2c3b7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sala","payloadType":"date","x":149,"y":474.00000190734863,"wires":[["88673acb3381cca6"]]},{"id":"1769fb1.3c11385","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"5","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]